@{
    ViewBag.Title = "Change password";
}

<h2>Change password</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Old password</label>

            <div class="col-md-10">
                <input type="password" name="oldPassword" value="" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">New password</label>
            <div class="col-md-10">
                <input type="password" name="newPassword" value="" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Confirm new password</label>
            <div class="col-md-10">
                <input type="password" name="confirmNewPassword" value="" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
