
@{
    ViewBag.Title = "Login";
}

@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
}

<div class="container-login100">
    <div class="wrap-login100">
        <div class="login100-pic js-tilt" data-tilt>
            <img src="~/Content/Images/login.png" alt="IMG">
        </div>

        <form class="login100-form validate-form" method="post">
            <span class="login100-form-title">
                User Login
            </span>
            @Html.AntiForgeryToken()
            <div class="wrap-input100 validate-input" data-validate="Username id required">
                @Html.Editor("username", new { htmlAttributes = new { @class = "input100", @placeholder = "Username" } })
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Password is required">
                @Html.Editor("password", new { htmlAttributes = new { @class = "input100", @placeholder = "Password", @type = "password" } })
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>
